name: build

on: [push, pull_request]

jobs:
  build_ios:
    name: Build iOS on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Run llvm/clang-format@shell
        run: |
          brew install clang-format
      - run: clang-format -style=file -i alipay_kit_ios/ios/Classes/*.h alipay_kit_ios/ios/Classes/*.m --dry-run --Werror
      - run: flutter --version
      - name: alipay_kit_android
        run: |
          cd alipay_kit_android
          flutter pub get
          flutter format --dry-run --set-exit-if-changed .
          flutter pub publish --dry-run
          flutter analyze lib
      - name: alipay_kit_ios
        run: |
          cd alipay_kit_ios
          flutter pub get
          flutter format --dry-run --set-exit-if-changed .
          flutter pub publish --dry-run
          flutter analyze lib
      - name: alipay_kit
        run: |
          cd alipay_kit
          flutter pub get
          flutter format --dry-run --set-exit-if-changed .
          # flutter pub publish --dry-run
          flutter analyze lib example/lib
          cd example
          flutter build ios --no-codesign

  build_ios_pay:
    name: Build iOS Pay on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Run llvm/clang-format@shell
        run: |
          brew install clang-format
      - run: clang-format -style=file -i alipay_kit_ios/ios/Classes/*.h alipay_kit_ios/ios/Classes/*.m --dry-run --Werror
      - run: flutter --version
      - name: alipay_kit_android
        run: |
          cd alipay_kit_android
          flutter pub get
          flutter format --dry-run --set-exit-if-changed .
          flutter pub publish --dry-run
          flutter analyze lib
      - name: alipay_kit_ios
        run: |
          cd alipay_kit_ios
          flutter pub get
          flutter format --dry-run --set-exit-if-changed .
          flutter pub publish --dry-run
          flutter analyze lib
      - name: alipay_kit
        run: |
          cd alipay_kit
          flutter pub get
          flutter format --dry-run --set-exit-if-changed .
          # flutter pub publish --dry-run
          flutter analyze lib example/lib
          cd example
          sed -i.bak0 's/#  alipay_kit_ios/  alipay_kit_ios/' pubspec.yaml
          sed -i.bak1 's/#    path: ..\/..\/alipay_kit_ios/    path: ..\/..\/alipay_kit_ios/' pubspec.yaml
          flutter build ios --no-codesign

  build_ios_pay_noutdid:
    name: Build iOS Pay NO UTDID on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Run llvm/clang-format@shell
        run: |
          brew install clang-format
      - run: clang-format -style=file -i alipay_kit_ios/ios/Classes/*.h alipay_kit_ios/ios/Classes/*.m --dry-run --Werror
      - run: flutter --version
      - name: alipay_kit_android
        run: |
          cd alipay_kit_android
          flutter pub get
          flutter format --dry-run --set-exit-if-changed .
          flutter pub publish --dry-run
          flutter analyze lib
      - name: alipay_kit_ios
        run: |
          cd alipay_kit_ios
          flutter pub get
          flutter format --dry-run --set-exit-if-changed .
          flutter pub publish --dry-run
          flutter analyze lib
      - name: alipay_kit
        run: |
          cd alipay_kit
          flutter pub get
          flutter format --dry-run --set-exit-if-changed .
          # flutter pub publish --dry-run
          flutter analyze lib example/lib
          cd example
          sed -i.bak0 's/#  alipay_kit_ios/  alipay_kit_ios/' pubspec.yaml
          sed -i.bak1 's/#    path: ..\/..\/alipay_kit_ios/    path: ..\/..\/alipay_kit_ios/' pubspec.yaml
          sed -i.bak2 's/#alipay_kit/alipay_kit/' pubspec.yaml
          sed -i.bak3 's/#  android: noutdid/  android: noutdid/' pubspec.yaml
          sed -i.bak4 's/#  ios: noutdid/  ios: noutdid/' pubspec.yaml
          flutter build ios --no-codesign

  build_android:
    name: Build Android on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter --version
      - name: alipay_kit_android
        run: |
          cd alipay_kit_android
          flutter pub get
          flutter format --dry-run --set-exit-if-changed .
          flutter pub publish --dry-run
          flutter analyze lib
      - name: alipay_kit_ios
        run: |
          cd alipay_kit_ios
          flutter pub get
          flutter format --dry-run --set-exit-if-changed .
          flutter pub publish --dry-run
          flutter analyze lib
      - name: alipay_kit
        run: |
          cd alipay_kit
          flutter pub get
          flutter format --dry-run --set-exit-if-changed .
          # flutter pub publish --dry-run
          flutter analyze lib example/lib
          cd example
          flutter build apk --debug

  build_android_noutdid:
    name: Build Android NO UTDID on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-latest, ubuntu-latest, macos-latest ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter --version
      - name: alipay_kit_android
        run: |
          cd alipay_kit_android
          flutter pub get
          flutter format --dry-run --set-exit-if-changed .
          flutter pub publish --dry-run
          flutter analyze lib
      - name: alipay_kit_ios
        run: |
          cd alipay_kit_ios
          flutter pub get
          flutter format --dry-run --set-exit-if-changed .
          flutter pub publish --dry-run
          flutter analyze lib
      - name: alipay_kit
        run: |
          cd alipay_kit
          flutter pub get
          flutter format --dry-run --set-exit-if-changed .
          # flutter pub publish --dry-run
          flutter analyze lib example/lib
          cd example
          sed -i.bak0 's/#alipay_kit/alipay_kit/' pubspec.yaml
          sed -i.bak1 's/#  android: noutdid/  android: noutdid/' pubspec.yaml
          sed -i.bak2 's/#  ios: noutdid/  ios: noutdid/' pubspec.yaml
          flutter build apk --debug
